body{
    background-color: #9E91F2;
    text-align: center;
    color: white;
}

#game_board_page {
    display: none;
}

#winner_overlay {
    display: none;
}


#game_board{
    display: inline-grid;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

button{
    height: 50px;
    width: 150px;
    font-size: large;
}


.row {
    display: flex;
}

.row div{
    height: 150px;
    width: 150px;
}

.x-box{
    width: 140px;
    height: 140px;
}

.o-box{
    width: 140px;
    height: 140px;
}

.top_banner {
    display: none;
}

input{
    width: 250px;
    height: 30px;
}

h1, h2, h3{
    font-size: 40px;
    
}

h2{
    font-size: 35px;
    
}

h3{
    font-size: 30px;
    
}

p{
    font-weight: bold;
    font-size: 20px;
}

table {
    display: inline-table;
}

table, th, td {
    border: 1px solid white;
    height:30px;
    width: 500px;
}
